html,
body,
.itd-main {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
}

.itd-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .itd-visual_timer {
        width: 100%;
        height: 64px;
        background-color: white;
        border-radius: 100%;
    }
    .itd-timeout {
        color: white;
    }
}